<footer>
    <section>
        <p class="socialMedia">Envianos tus dudas y consultas, seguinos en las redes!
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-whatsapp"></i>
            <a href="/contacto">Contacto</a>
        </p>
    </section>
</footer>