<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
        <link href="\css\home.css" rel="stylesheet"/>
        <link href="\css\card.css" rel="stylesheet"/>
    </head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>