<% let {id, email, nombre} = userData %>

<section class="change-pass">

<div id="contenedor-pass">

    <h2>Cambio de contrase単a</h2>
    <h4><%= email %></h4>
    <label>Contrase単a actual</label>
    <input type="password">
    <label>Contrase単a nueva</label>
    <input type="password">
    <label>Repatir contrase単a nueva</label>
    <input type="password">
    <button>Cambiar</button>
</div>
</section>