<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link 
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <!-- <link href="\css\home.css" rel="stylesheet"/> -->
        <link href="\css\fonts.css" rel="stylesheet"/>
        <link href="\css\browser.css" rel="stylesheet"/>
        <link href="\css\navbar.css" rel="stylesheet"/>
        
        <title>La tienda de Maria</title>
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        <main>
            <section class="filter">
                <p>Filtros</p>
                <label for="categoria">Categoria:</label>
                <select id="categoria" name="category">
                    <option value="mates">Mates</option>
                    <option value="tazas">Tazas</option>
                    <option value="ilustraciones">Ilustraciones</option>
                </select>
                <label for="price">Precio menor a:</label>
                <span class="filter-price" id="price">
                    <label>Todos
                        <input type="radio" name="price" value="allprices"/>
                    </label>
                    <label>$10.000
                        <input type="radio" name="price" value="less10k"/>
                    </label>
                    <label>$25.000
                        <input type="radio" name="price" value="less25k"/>
                    </label>
                    <label>$50.000
                        <input type="radio" name="price" value="less50k"/>
                    </label>
                </span>
            </section>
            <span class="productos">
            <section class="pagination">
                <span><a class="arrow-prev1 arrow-cards"></a></span>
                <span><a>1</a></span>
                <span><a>2</a></span>
                <span><a>3</a></span>
                <span><a>4</a></span>
                <span><a>5</a></span>
                <span><a class="arrow-next1 arrow-cards"></a></span>
            </section>
            <section class="cards">
                <article>
                    <img src="https://random.imagecdn.app/260/140" alt="articulo"/>
                    <p>$1500</p>
                    <p>Titulo del Articulo</p>
                </article>
                <article>
                    <img src="https://random.imagecdn.app/260/140" alt="articulo"/>
                    <p>$12500</p>
                    <p>Titulo del Articulo</p>
                </article>
                <article>
                    <img src="https://random.imagecdn.app/260/140" alt="articulo"/>
                    <p>$30000</p>
                    <p>Titulo del Articulo</p>
                </article>
                <article>
                    <img src="https://random.imagecdn.app/260/140" alt="articulo"/>
                    <p>$21000</p>
                    <p>Titulo del Articulo</p>
                </article>
                <article>
                    <img src="https://random.imagecdn.app/260/140" alt="articulo"/>
                    <p>$5000</p>
                    <p>Titulo del Articulo</p>
                </article>
                <article>
                    <img src="https://random.imagecdn.app/260/140" alt="articulo"/>
                    <p>Precio</p>
                    <p>Titulo del Articulo</p>
                </article>
            </section>
        </span>
        </main>
        <footer>
            <section>
                <p class="socialMedia">Envianos tus dudas y consultas, seguinos en las redes!
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <a href="">Contacto</a>
                </p>
            </section>
        </footer>
    </body>
</html>