<html lang="es">
    <head>
        <%- include('./partials/head.ejs') %>
        <link href="\css\cart.css" rel="stylesheet"/>
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
    <main>
        <div class="cart-modal">
            <section class="cartdetail">
                <table>
                    <tbody>
                        <tr>
                            <th></th>
                            <th colspan="2">Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                        </tr>
                        <tr>
                            <td id="X">X</td>
                            <td ><img src="https://random.imagecdn.app/100/70" alt="img product"/></td>
                            <td id="product">Mate personalizado</td>
                            <td>$1.500</td>
                            <td>
                                <a onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</a>
                                <input id="cantidad" type="number" min="1" placeholder="cantidad" name="cantidad" value="1"/>
                                <a onclick="this.parentNode.querySelector('input[type=number]').stepUp();this.querySelector('.total').innerText=3000">+</a>
                            </td>
                            <td class="total"></td>
                        </tr>
                        <tr>
                            <td id="X">X</td>
                            <td><img src="https://random.imagecdn.app/100/70" alt="img product"/></td>
                            <td id="product">Kit Matero</td>
                            <td>$40.000</td>
                            <td>
                                <a onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</a>
                                <input id="cantidad" type="number" min="1" placeholder="cantidad" name="cantidad" value="1"/>
                                <a onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</a>
                            </td>
                            <td>$40.000</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="cartresume">
                <h2>Total del carrito</h2>
                </br>
                <span id="cartsubtotal">
                    <h3>Subtotal</h3>
                    <p>$43.000</p>
                </span>
                <span id="cartenvio">
                    <h3>Envio</h3>
                    <div>
                        <select name="envio" required>
                            <option value="moto">Moto $500</option>
                            <option value="micro">Terminal de Micro $500</option>
                            <option value="local">Retiro en local $0</option>
                            <option value="domicilio">Domicilio</option>
                        </select></br>
                        <button>Calcular envio</button>
                    </div>
                </span>
                <h3>Total</h3>
                <button>Finalizar Compra</button>
            </section>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>