<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link 
    rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link href="\css\registro.css" rel="stylesheet"/>
    <link href="\css\fonts.css" rel="stylesheet"/>
    <link href="\css\navbar.css" rel="stylesheet"/>
   
    <title>La tienda de Maria</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <main>
        
  <article class="contenedor-form">
        <div class="login-modal">
            <form action="/login" method="POST">
                <div class="inputform">
                    <label for="nombre">Nombre/s</label>
                    <input 
                    type="text"
                    name="nombre"
                    id="nombre"
                    placeholder="ingrese su nombre"
                    required
                    minlength="10"
                    maxlength="20"
                   
                    />
                </div>
                <div class="inputform">

                    <label for="apellido">Apellido/s</label>
                    <input
                    id="apellido"
                    name="apellido"
                    type="text"
                    placeholder="Ingresar apellido"
                    required
                    minlength="6"
                   
                    />
                </div>
                <div class="inputform">

                    <label for="birthdate">fecha de nacimiento</label>
                    <input 
                    type="date"
                    name="fechanacimiento"
                    id="fechadenacimiento"
                    required
                    />
                </div>
                 <div class="inputform">   
                    <label for="username">provincia</label>
                    <input 
                    type="text"
                    name="provincia"
                    id="provincia"
                    placeholder="provincia"
                    required
                    minlength="10"
                    maxlength="20"
                   
                    />
                </div>
                <div class="inputform">

                    <label for="username">localidad</label>
                    <input 
                    type="text"
                    name="localidad"
                    id="localidad"
                    placeholder="localidad"
                    required
                    minlength="10"
                    maxlength="20"
                   
                    />
                </div>
                <div class="inputform">

                    <label for="username">Codigo postal</label>
                    <input 
                    type="text"
                    name="codigopostal"
                    id="codigopostal"
                    placeholder="Codigo Postal"
                    required
                    minlength="10"
                    maxlength="20"
                    
                />
            </div>
            <div class="inputform">

                <label for="username">Calle</label>
                <input 
                type="text"
                name="street"
                id="street"
                    placeholder="calle"
                    required
                    minlength="10"
                    maxlength="20"
                   
                    />
                    
                </div>

                <div class="inputform">

                    <label for="username">Numero</label>
                    <input 
                    type="text"
                    name="street"
                    id="street"
                        placeholder="Numero"
                        required
                        minlength="10"
                        maxlength="20"
                       
                        />
                        
                    </div>

                    <div class="inputform">

                        <label for="username">Piso</label>
                        <input 
                        type="text"
                        name="street"
                        id="street"
                            placeholder="Piso"
                            required
                            minlength="10"
                            maxlength="20"
                           
                            />
                            
                        </div>


                        <div class="inputform">

                            <label for="username">Departamento</label>
                            <input 
                            type="text"
                            name="street"
                            id="street"
                                placeholder="Departamento"
                                required
                                minlength="10"
                                maxlength="20"
                              
                                />
                                
                            </div>
                            <div class="inputform">

                                <label for="username">Email</label>
                                <input 
                                type="text"
                                name="street"
                                id="street"
                                    placeholder="Email"
                                    required
                                    minlength="10"
                                    maxlength="20"
                                   
                                    />
                                    
                                </div>
                                <div class="inputform">

                                    <label for="username">Nombre de usuario</label>
                                    <input 
                                    type="text"
                                    name="street"
                                    id="street"
                                        placeholder="Nombre de usuario"
                                        required
                                        minlength="10"
                                        maxlength="20"
                                     
                                        />
                                        
                                    </div>
                                    <div class="inputform">

                                        <label for="username">contrase単a</label>
                                        <input 
                                        type="text"
                                        name="street"
                                        id="street"
                                            placeholder="contrase単a"
                                            required
                                            minlength="10"
                                            maxlength="20"
                                          
                                            />
                                            
                                        </div>
                                        <div class="inputform">

                                            <label for="username">repetir contrase単a</label>
                                            <input 
                                            type="text"
                                            name="street"
                                            id="street"
                                                placeholder="repetir contrase単a"
                                                required
                                                minlength="10"
                                                maxlength="20"
                                                
                                                />
                                                
                                            </div>
                <button type="submit">Registrar</button>
            </form>
        </article>
        </div>
    </main>
    <footer>
        <section>
            <p class="socialMedia">Envianos tus dudas y consultas, seguinos en las redes!
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-whatsapp"></i>
                <a href="">Contacto</a>
            </p>
        </section>
    </footer>



</body>
</html>