* {
    font-family: 'Gidole';
}

main{
    padding-top: 20px;
}
.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 1px black;
    padding: 5px;
    margin-bottom: 15px;
    background-color: rgba(182, 229, 219, 0.2);
}

.filter p{
    background-color: #32A97F;
}

.filter .filter-price {
    display: flex;
    flex-direction: column;

}

.filter-price label{
    margin-top: 5px;
}

.cards article{
    font-family: 'Gidole';
    text-align: center;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.cards article:hover {
    box-shadow: 0px 5px black;
}
.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;


}

.pagination span {
    border: solid 1px black;
    padding: 5px;
    border-radius: 5px;
}

.pagination span:hover {
    box-shadow: 0px 5px black;
}

#categoria{
    width: 30%;
}

.arrow-cards {
    border: solid #32A97F;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

.arrow-prev1 {
    margin-top: 10px;
    margin-left: 5px;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next1 {
    margin-top: 10px;
    margin-right: 5px;
    transform: translateY(-50%) rotate(-45deg);
}

@media (min-width: 700px) {


    #categoria{
        width: 50%;
    }


    
   
}

@media (min-width: 1200px) {

.filter{
    width: 25%;
}    
main{    
display: flex;
}
   
}
