* {
    font-family: 'Gidole';
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin-bottom: 4.5vh;
}
article{
    display: flex;
    margin-top: 25px;
    justify-content: space-around;


}

.imagenes{
    max-width: 13vw;
    display: flex;
    flex-direction: column;
    
}


.imagenes img{
    border: black 2px solid;
    padding: 2px;
    margin: 5;
}

.detalle{
     width: 35vw;
     
     

}

.form-detalle{
    font-size: 2vw;
    background-color: #32A97F ;
    width:40vw;
    padding: 25px;
}



.precio{
    background-color: white;
    width: 11vw;
    
}

.contenedordesciption{
    font-size: 25px;
    margin: 15px;
}





@media (width <= 361px) {
   
}

@media ( height < 875px ) {
    .login-modal form {
       position: relative;
       top: 80px
    }
}

@media (width >= 361px) {
    
}
