@font-face {
    font-family: 'Gistesy';
    src: url('../fonts/Gistesy.otf') format("opentype");
}

@font-face {
    font-family: 'Bimbo Trial';
    src: url('../fonts/BimboTrial.ttf') format("truetype");
}

@font-face {
    font-family: 'Gidole';
    src: url('../fonts/Gidole-Regular.ttf') format("truetype");
}