.logo {
    display: none;
}
.logoLargo {
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 70%;
    min-width: 300px;
    max-width: 800px;
}
.tituloNavbar {
    padding: 0px 0px 0px 0px;
    margin: auto;
    font-family: 'Bimbo Trial';
    color: black;
    font-size: 2rem;
    -webkit-text-stroke: 1px #32A97F;
}

nav > span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav {
    height: fit-content;
    padding: 5px;
}

nav ul {
    margin: 0px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.loginNavbar {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    min-width: 5%;
    max-width: 15%;
}
.loginNavbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    font-size: 1rem;
    height: 65%;
}
.loginNavbar ul li {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    height: 3vh;
}
.loginNavbar button {
    display: flex;
    border: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    font-size: 1rem;
    background-color: #1259c3;
    color: white;
    border-radius: 5px;
    padding: 5px;
    transition-duration: 500ms;
}
.loginNavbar button a {
    text-decoration:none;
    color: white;
}
.loginNavbar button:hover {
    background-color: #5394b0;
}

.site {
    padding: 5px;
    background-color: #32A97F;
    font-size: 16px;
    align-items: center;
}
.site ul {
    display: none
}
.burger-menu {
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    
}


@media (max-height: 800px){

    .logo{
        width: 8%;
    }
}
@media (min-width: 760px) {
    *{
        margin: 0;
    }
    nav span {
        height: 10vh; 
    }
    .logo {
        display: block;
        
    }
    .logoLargo {
        width: 45%;}
        
    
    .site ul {
        display: flex;
        margin: 0px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 1%;

    }
    .site ul li {
        width: 10vw;
        margin: 0px;
        background-color: white;
        padding: 5px;
        border: solid 1px #5394b0; 
    }
    .site li a {
        text-decoration:none;
        color: #32A97F;
        font-family: 'Gidole';
        font-weight: normal;
    }
    .burger-menu {
    display: none;
}
    
}

@media (min-width: 1200px) {

    .logo {
        display: block;
        width: 9%;
        
        
    }
    .logoLargo {
        width: 200%;
        height: 100%;
    }
    
    .site ul {
        display: flex;
        margin: 0px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 1%; 
    }
    .site ul li {
        width: 10vw;
        margin: 0px;
        background-color: white;
        padding: 5px;
        border: solid 1px #5394b0; 
    }
    .site li a {
        text-decoration:none;
        color: #32A97F;
        font-family: 'Gidole';
        font-weight: normal;
    }
    .burger-menu {
        display: none;
    }
}