* {
    font-family: 'Gidole';
    box-sizing: border-box;
}

body {
    margin-bottom: 4.5vh;
}

main{
    padding-top: 5px;
}
.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 1px black;
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgba(182, 229, 219, 0.2);
}

.filter p{
    background-color: #32A97F;
}
.filter > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter .filter-price {
    display: flex;
    flex-direction: column;

}

.filter-price label{
    margin-top: 5px;
}

.botonFilter{

    display: flex;
    justify-content: center;

}

.botonFilter input{
    margin: 3px;
}

.searchBar{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 3px;

}

#inputSearchBar{
    height: 6vw;
    width: 50%;
    border: solid black 1px;
}
#botonSearchBar{
    width: 15%;
    margin-left: 5px;

}
.cards article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: solid 1px #5394b0;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.cards article:hover {
    box-shadow: 0px 5px black;
}
.cards article img {
    width: fit-content;
    border-radius: 5px;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px 0 5px 0 ;
}

.pagination a {
    border: solid 1px black;
    padding: 5px;
    border-radius: 5px;
}

.pagination a:hover {
    box-shadow: 0px 5px black;
}

#categoria , #color{
    width: 30%;
}

.arrow-cards {
    border: solid #32A97F;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

a.arrow-prev1 {
    margin-top: 20px;
    margin-left: 5px;
    transform: translateY(-50%) rotate(135deg);
    border: none;
}

a.arrow-next1 {
    margin-top: 20px;
    margin-right: 5px;
    transform: translateY(-50%) rotate(-45deg);
    border: none;
}
ul.color {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    gap: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
    
}

ul.color li i{
    border: solid 1px black
}

ul > li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.filter a {
    text-decoration:none;
    color: white;
    font-size: 1rem;
}


@media (min-width: 760px) {

    #categoria , #color{
        width: 25%;
    }

    #inputSearchBar{
        height: 3vw;
        width: 40%;

    }
    #botonSearchBar{
        width: 10%;
        margin-left: 5px;
    
    }


    
   
}

@media (min-width: 1200px) {

.filter{
    width: 50%;
    min-width: 300px;
    max-width: 400px;
}    

main{    
display: flex;
}

#categoria , #color{
    width: 50%;
}

#inputSearchBar{
    height: 2vw;
    width: 20%;

}
#botonSearchBar{
    width: 5%;
    margin-left: 5px;

}

   
}
