* {
    font-family: 'Gidole';
    box-sizing: border-box;
}

body {
    margin-bottom: 4.5vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px 0 15px 0 ;


}

.pagination span {
    border: solid 1px black;
    padding: 5px;
    border-radius: 5px;
}

.pagination span:hover {
    box-shadow: 0px 5px black;
}

.pagination .currentPage {
    border: solid 3px black;
}

.arrow-cards {
    border: solid #32A97F;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

.arrow-prev1 {
    margin-top: 10px;
    margin-left: 5px;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next1 {
    margin-top: 10px;
    margin-right: 5px;
    transform: translateY(-50%) rotate(-45deg);
}
section.profile {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    text-wrap: balance;
}
section.profile img {
    width: 150px;
    border-radius: 50%;
    border: solid 1px black;
}
section.productos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.productos > .header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    background-color: #32A97F;
    padding: 5px;
    border-radius: 5px;
    text-wrap: nowrap;
}

section.productos > article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #efefef;
    border-radius: 5px;
    margin: 3px;
}

section.productos > article > img{
    width: 50px;
    border-radius: 5px;
}

section.productos > article > ul{
    display: none;
}
section.productos > article > .category{
    display: none;
}
section.productos > .header > .color{
    display: none;
}
section.productos > .header > .category{
    display: none;
}
section.productos > .header > .name{
    flex: 0 0 125px;
    text-align: center;
}

section.productos > article a.titulocard {
    flex: 0 0 125px;
}
section.productos > article > .price {
    flex: 0 0 50px;
    text-align: center;
}
section.productos > article > .stock {
    flex: 0 0 25px;
    text-align: center;
}
section.productos > article > span.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

button.edit {
    border-radius: 5px;
    border: hidden;
    padding: 5px;
    background-color: #1259c3;
    color: white;
    transition: 500ms;
}
button.edit:hover {
    background-color: #5394b0;
}

button.create {
    width: 150px;
    border-radius: 5px;
    border: hidden;
    padding: 5px;
    background-color: #1259c3;
    color: white;
    width: 150px;
    transition: 500ms;
}
button.create:hover {
    background-color: #5394b0;
}
button.delete {
    border-radius: 5px;
    border: hidden;
    padding: 5px;
    background-color: inherit;
    color: red;
    font-weight: bold;
    transition: 500ms;
}
button.delete:hover {
    color:white;
    background-color: red;
}
a {
    text-decoration: none;
}
button > a {
    text-decoration: none;
    color: white;
}

section.common-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
}
.historialpagos .favoritos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-wrap: nowrap;
}
/* .historialpagos > section > .pago {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #efefef;
    border-radius: 5px;
    gap: 10px;
    text-wrap: nowrap;
    width: 600px;
} */
.historialpagos > section > span.pago > *{
   
}
table > tbody tr th {
    font-weight: bold;
    background-color: #32A97F;
    padding: 5px;
    border-radius: 5px;
    text-wrap: nowrap;
}
table > tbody > tr.subtitle td {
    background-color: #32A97F;
    padding: 5px;
    border-radius: 5px;
    text-wrap: nowrap;
    text-align: center;
}
td {
    background-color: #efefef;
}
/* .hidethis {
    display: none;
} */

tr.article {
    padding: 5px;
}

tr.article > td {
    font-size: 12px;
}

i.cancelado {
    background-color: orangered;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}
i.rechazado {
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}
i.completado {
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}
i.enproceso {
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}
td > img.product {
    max-width: 50px;
    max-height: 50px;
}
.desktoplayout {
    display: none;
}
.portraitlayout {
    display: none;
}

.mobilelayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.mobilelayout > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #efefef;
    border: solid 1px #5394b0;
    border-radius: 5px;
    padding: 10px;
    flex-wrap: wrap;
}
.mobilelayout > div > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 5px;
    gap: 10px;
    padding: 5px;
}
.mobilelayout > div > table {
    font-size: 12px;
}

@media (min-width: 540px) {
    .portraitlayout {
        display: block;
    }
    .mobilelayout {
        display: none;
    }
}

@media (min-width: 760px) {
    section.productos {
        width: 90%;
    }
    section.productos > article > ul{
        display: inline-block;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin: 0px;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    section.productos > .header > .name{
        display: inline-block;
        flex: 0 0 100px;
        text-align: center;
    }
    section.productos > .header > .category{
        display: inline-block;
        flex: 0 0 50px;
        text-align: center;
    }
    section.productos > article > .category{
        display: inline-block;
        flex: 0 0 50px;
    }
    section.productos > .header > .price {
        display: inline-block;
        flex: 0 0 50px;
        text-align: center;
    }
    section.productos > article > ul > li{
        border: solid 1px black;
        border-radius: 50%;
    }
    section.productos > .header > .color{
        display: inline-block;
        flex: 0 0 50px;
    }
    section.productos > a.titulocard {
        flex: 0 0 150px;
    }
    section.productos .price {
        flex: 0 0 100px;
        text-align: center;
    }
    section.productos .actions {
        flex: 0 0 70px;
    }
    .desktoplayout {
        display: block;
    }
    .portraitlayout {
        display: none;
    }
    .mobilelayout {
        display: none
    }
}