<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
        <link href="\css\login.css" rel="stylesheet"/>
    </head>
   <body>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <div class="login-modal">
            <img src="https://assets.stickpng.com/images/585e4beacb11b227491c3399.png" alt="profile"/>
            <form action="/login" method="POST">
                <label for="username">Usuario / E-mail</label>
                <input 
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Ingresar usuario o email"
                    required
                    minlength="7"
                    class="validacionusername"
                />
                <label for="password">Contraseña</label>
                <input
                    id="password"
                    name="password"
                    type="password"
                    placeholder="Ingresar contraseña"
                    required
                    minlength="6"
                    class="validacionpassword"
                />
                <button type="submit">LOGIN</button>
            </form>
            <div class="contenedorCuenta">
                <p>¿No tienes cuenta? <a href="/users/register">¡Registrate!</a></p>
                <p>¿Olvidaste la contraseña? <a href="/restore">¡Restablecer!</a></p>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>