<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link href="\css\registro.css" rel="stylesheet"/>
   
   
    <title>La tienda de Maria</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <h2>Registrate</h2>   
    <article class="contenedor-form">
        <form class="contenedores" action="/users/register" method="POST" enctype="multipart/form-data">
            <div class="contenedor1">
                <div class="inputform">
                    <label for="nombre">Nombre/s:</label>
                    <input 
                        class="requiredinput"
                        type="text"
                        name="nombre"
                        id="nombre"
                        placeholder="ingrese su nombre"
                        required
                        minlength="3"
                        maxlength="20"
                    />
                </div>
                <div class="inputform">

                    <label for="apellido">Apellido/s:</label>
                    <input
                        id="apellido"
                        name="apellido"
                        type="text"
                        placeholder="Ingresar apellido"
                        minlength="6"
                    />
                </div>
                <div class="inputform">

                    <label for="birthdate">fecha de nacimiento:</label>
                    <input 
                    type="date"
                    name="fechanacimiento"
                    id="fechanacimiento"
                    />
                </div>
                <div class="inputform">   
                    <label for="provincia">Provincia:</label>
                    <input 
                        type="text"
                        name="provincia"
                        id="provincia"
                        placeholder="provincia"
                        minlength="10"
                        maxlength="20"
                    />
                </div>
                <div class="inputform">
                    <label for="localidad">localidad:</label>
                    <input 
                        type="text"
                        name="localidad"
                        id="localidad"
                        placeholder="localidad"
                        minlength="10"
                        maxlength="20"
                    />
                </div>
            <div class="inputform">
                <label for="codigopostal">Codigo postal:</label>
                <input 
                    type="text"
                    name="codigopostal"
                    id="codigopostal"
                    placeholder="Codigo Postal"
                    minlength="4"
                    maxlength="10"
                />
            </div>
            <div class="inputform">
                <label for="street">Calle:</label>
                <input 
                    type="text"
                    name="calle"
                    id="street"
                    placeholder="calle"
                    minlength="10"
                    maxlength="20"
                    />
            </div>
            <div class="inputform">
                <label for="imagen">Imagen:</label>
                <input 
                    class="uploadFile"
                    type="file"
                    name="imagen"
                    id="imagen"
                    placeholder="calle"
                    minlength="10"
                    maxlength="20"
                />
            </div>
        </div>
        <div class="contenedor2">
            <div class="inputform">
                <label for="streetnumber">Numero:</label>
                <input 
                    type="number"
                    name="callenumero"
                    id="streetnumber"
                    placeholder="Numero"
                    minlength="10"
                    maxlength="20"
                   
                    />
                </div>
                <div class="inputform">

                    <label for="username">Codigo postal:</label>
                    <input 
                    type="text"
                    name="codigopostal"
                    id="codigopostal"
                    placeholder="Codigo Postal"
                    required
                    minlength="10"
                    maxlength="20"
                    
                />
            </div>
            <div class="inputform">
                <label for="buildingfloor">Piso:</label>
                <input 
                    type="text"
                    name="piso"
                    id="buildingfloor"
                    placeholder="Piso"
                    minlength="10"
                    maxlength="20"
                    />
            </div>
            <div class="inputform">
                <label for="departamento">Departamento:</label>
                <input 
                    type="text"
                    name="departamento"
                    id="departamento"
                    placeholder="Departamento"
                    minlength="10"
                    maxlength="20"
                    />
            </div>
            <div class="inputform">
                <label for="email">Email:</label>
                <input 
                    class="requiredinput"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                    required
                    minlength="10"
                    maxlength="30"
                    />
            </div>
            <div class="inputform">
                <label for="username">Nombre de usuario:</label>
                <input 
                    class="requiredinput"
                    type="text"
                    name="street"
                    id="street"
                    placeholder="Nombre de usuario"
                    required
                    minlength="10"
                    maxlength="20"
                />
            </div>
            <div class="inputform">
                <label for="password">contrase単a:</label>
                <input 
                    class="requiredinput"
                    type="password"
                    name="password"
                    id="password"
                    placeholder="contrase単a"
                    required
                    minlength="6"
                    maxlength="20"
                    />
            </div>
            <div class="inputform">
                <label for="repassword">repetir contrase単a:</label>
                <input 
                    class="requiredinput"
                    type="password"
                    name="repassword"
                    id="repassword"
                    placeholder="repetir contrase単a"
                    required
                    minlength="6"
                    maxlength="20"
                />
            </div>
            <button type="submit" class="send">Registrar</button>
        </div>
        </form>
    </article>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>